/* Custom CSS Variables */

:root {
    --bg-color: #eef0f4;
    --color: #333;
    --togglebg: #333;
    --roundcolor: #eef0f4;
    --toggleslider:#111;
    --togglesliderColor:#111;
    --filter1: drop-shadow(-8px -8px 12px #ffffff) drop-shadow(8px 8px 12px #c3c5c8);
    --filter2: drop-shadow(-4px -4px 6px #ffffff) drop-shadow(4px 4px 6px #c3c5c8);
    --filter3: drop-shadow(-2px -2px 3px #ffffff) drop-shadow(2px 2px 3px #c3c5c8);
}

/* Basic Styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 10%;
}

p {
    margin: 5px 0;
}

h2 {
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    margin: auto;
    padding: 20px;
    width: 350px;
    max-width: 100%;
    background: var(--bg-color);
    border: 12px solid var(--bg-color);
    filter: var(--filter3)
}

.result-container {
    background-color: var(--bg-color);
    border: 12px solid var(--bg-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-bottom: 35px;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
}